body {
    background-color: #F8FAFC;
}

.nav a{
    background-color:#D9EAFD;
    padding: 10px;
    text-align: center;
    display: inline-block;
    text-decoration:none; 
}

#abc{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: #D9EAFD;
    text-decoration: none;
    font-weight: bold;
    width: 400px;
    margin: 20px auto;
}
