body {
    background: linear-gradient(#D9EAFD,#8F87F1)
}

.nav a{
    background-color:#D9EAFD;
    padding: 10px;
    text-align: center;
    display: inline-block;
    text-decoration:none; 
    border-radius: 8px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

#abc{
    font-family: fantasy;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: #D9EAFD;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    width: 400px;
    margin: 20px auto;
}

.box {
    border: 3px solid white;
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
}
