body {
    background-image: url(op.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav a{
    background-color:#D9EAFD;
    padding: 10px;
    text-align: center;
    display: inline-block;
    text-decoration:none; 
    border-radius: 8px;
}

#abc{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#def{
    text-align: center;
    font-size:large;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside ;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: #D9EAFD;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    width: 400px;
    margin: 20px auto;
}

nav {
    text-align: center;
    margin-top: 20px;
}
